mixin messages()
    article.message(v-for="message in current_room_messages")
        .row
            .col.s1
                .image
                    .user-avatar {{message.author.charAt(0)}}
            .col.s11
                .media-content
                    .content
                        p
                            strong {{message.author}}
                            br
                            |{{message.body}}
                            br
                            small {{message.date}}