extends layout
include _mixins
block content
    #chat
        .row
            .col.s3
                .user-info.card
                    .card-content.cyan.lighten-5
                        p Your nick:
                            strong  {{user_name}}
                        p Your id:
                            strong  @{{user_id}}

                .rooms.card
                    .card-content
                        ul.collection.with-header
                            li.collection-header
                                h5.center Rooms:
                            each room in rooms
                                li.collection-item
                                    a(@click="change_room('" + room.id + "')", :class="{'is-active' : current_room_index =='" + room.id + "'}")
                                        =room.name
                            li
                                a.collection-item(@click="open_modal") New&nbsp
                                    span: i.fa.fa-plus

            .col.s9.card.chatroom
                .card-content
                    .card
                        .card-content.center.teal.lighten-5
                            .notification(v-if="current_room_data != ''")
                                | Current room: &nbsp;
                                strong(v-text="current_room_data.name")
                                .title.is-6(v-text="current_room_data.description")
                            .notification(v-if="current_room_data == ''")
                                | Please select chat room to start chatting
                .card.messages(v-if="current_room_data != ''")
                    .card-content
                        +messages()
                .card(v-if="current_room_data != ''")
                    .card-content
                        .row
                            .col.s12
                                .span.help.is-danger(v-show="has_errors != '' && display_errors")
                                    | {{error_message}}
                                .input-field
                                    textarea#message.materialize-textarea(v-model="new_message", @keydown.enter="send_message")
                                    label(for="message") Write your message
                                button.waves-effect.waves-light.btn(@click="send_message") Send

        .row: .col.s12
            .modal#modal_create
                .modal-content
                    .input-field
                        input#room_name(type='text', :class="{'is-danger' : has_errors != '' && display_errors}" v-model="new_chat_room_title")
                        label(for="room_name") Room name
                        .span.help.is-danger(v-show="has_errors != '' && display_errors")
                            | {{error_message}}
                    .input-field
                        textarea.materialize-textarea#room_description(v-model="new_chat_room_description")
                        label(for="room_description") Room description
                .modal-footer
                    a.btn-margin.waves-effect.waves-light.btn(@click!="create_room") Create
                    a.btn-margin.waves-effect.waves-light.btn(@click!="close_modal") Cancel

    script(src="/js/chat.js")