doctype html
html
    head
        title=title
        link(rel='stylesheet', href='http://meyerweb.com/eric/tools/css/reset/reset.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://unpkg.com/vue/dist/vue.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")

    body
        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
        .container
            block content
        script(src="/socket.io/socket.io.js")
        script.
            var socket = io.connect('http://localhost:3000');
            socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
            });