body, html {
  background-color: #f1f8e9; }

#login {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0; }

.help {
  display: block;
  margin: 1em;
  color: darkred; }

.rooms ul li:hover {
  background-color: #e0e0e0;
  transition: .25s; }

.rooms ul li a {
  cursor: pointer;
  color: #26a69a; }

#chat {
  margin-top: 0.5em; }

.user-info {
  line-height: 1.5em; }

.user-avatar {
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
  background: #64ffda; }

.notification {
  line-height: 1.5em; }

.messages {
  max-height: 450px;
  overflow-y: scroll; }

.message {
  margin-top: 1em;
  border-bottom: solid 2px #e0f2f1;
  line-height: 1.5em; }

.is-active {
  color: black !important; }
